.container
	h1 What's Pizza?
	br 
	p.lead Students and professors at major universities across the country find themselves increasingly dissatisfied with the quality of the course management web sites they must use every day. While relevant technologies have seen major advances in the recent past, many of these systems have not undergone significant changes in years, and fail to measure up to the standard of website quality that exists today.
	p.lead (graphic?)
	br
	h2 That's where we come in.
	p.lead Pizza is the course management tool of the modern age. It integrates the core tenets of contemporary web design with the security and stability of current systems. Clean and safe software practices meet responsive, user-friendly web design in a centralized location for all course management needs. 
	p.lead (graphic?)
