.container
	h1 Contact Us
	form.form-horizontal(action="")
		fieldset
			.form-group
				label.col-lg-2.control-label(for="inputSubject") Subject
				.col-lg-10
					input.form-control(type="text", id="inputSubject", placeholder="What do you need?")
			.form-group
				label.col-lg-2.control-label(for="inputBody") Body
				.col-lg-10
					textarea.form-control(type="text", id="inputBody", placeholder="Tell us what's up.", rows="15")
			.form-group
				label.col-lg-2.control-label(for="inputEmail") E-mail
				.col-lg-10
					input.form-control(type="text", id="inputEmail", placeholder="How can we get back to you?")
			.form-group
				.col-lg-10.col-lg-offset-2
					p(align="right")
						button.btn.btn-primary(type="submit") Submit
