.container
	.jumbotron
		h1 Introducing Pizza
		br
		p Pizza is revolutionizing course management for students and instructors alike. Quality design and air-tight security come together to make a modern, robust tool that's changing the way people think about course management.
		p(align="right")
			a.btn.btn-primary.btn-large(href="/about") Learn more
	h1 I dunno some shit here
