doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/superhero.min.css')
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="/") Pizza
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li(class= title == "Pizza" ? "active" : "")
							a(href="/") Home
						li(class= title == "About Pizza" ? "active" : "")
							a(href="/about") About
						li(class= title == "Contact Us" ? "active" : "")
							a(href="/contact") Contact
		hr
		!= body
